body{
    background-color: lightgray;
}
#head{
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  text-decoration: underline white;
  color: black;
  font-family: 'Langar', cursive;
}
#mySidenav a {
  position: absolute;
  right: -60px;
  transition: 0.3s;
  font-family: 'Dancing Script', cursive;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 25px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  }  
#mySidenav a:hover {
  right: 0;
}  
#home {
  top: 540px;
  background-color:black;
  color: white;
}
#about {
  top: 610px;
  background-color:white;
  color: black;
}  
#contact {
  top: 680px;
  background-color: black;
  color: white;
}
#pas{
  top: 750px;
  background-color:white;
  color:black;
}
#shoe{
  top: 850px;
  background-color: black;
  color: white;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: 'Yeon Sung', cursive;
  float: left;
  display: table;
  clear: both;
  content: "";
}
.item{
  box-sizing: border-box;
  float: left;
  width: 20%;
  padding: 2%;
}
.price {
  color: black;
  font-size: 22px;
  font-family: 'Yeon Sung', cursive;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color:black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
a:link {
  color:white;
  background-color: transparent;
  text-decoration: none;
}
