body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.nav-item {
    padding-left: 24px;
}

.text-center {
    padding: 20px;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
}

.card {
    box-sizing: border-box;
    width: 19.5rem;
    float: left;
    position: relative;
    margin-left: 28px;
    margin-right: 23px;
    margin-bottom: 22px;
}

.card:hover {
    border-color: black;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.nav-item {
    padding-left: 24px;
}

.text-center {
    padding: 20px;
    font-family: "Sofia", sans-serif;
    font-weight: bold;
}

.card {
    box-sizing: border-box;
    width: 19.5rem;
    float: left;
    position: relative;
    margin-left: 28px;
    margin-right: 23px;
    margin-bottom: 22px;
}

.card:hover {
    border-color: black;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.nav-item {
    padding-left: 24px;
}

.text-center {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    box-sizing: border-box;
    width: 19.5rem;
    float: left;
    position: relative;
    margin-left: 25px;
    margin-right: 23px;
    margin-bottom: 22px;
}

.card:hover {
    border-color: black;
    cursor: pointer;
}