body {
    font-family: 'Montserrat', sans-serif;
}

.container-fluid {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.nav-item {
    padding-left: 24px;
}

.text-center {
    padding: 20px;
    font-size: 40px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
}

.card {
    box-sizing: border-box;
    width: 19.5rem;
    float: left;
    position: relative;
    margin-left: 32px;
    margin-right: 25px;
    margin-bottom: 22px;
}

.card:hover {
    border-color: black;
    cursor: pointer;
}

.givenchy , .nikeJordan, .redAdidas, .nikeGalaxy,.yellowFila, .nike001, .puma,.vans,.adAnimation,.adidasBl,.blAdidas,.yeezy{
    height: 250px;
}

